
.idea/*
cr/.idea/*
cr/venv/*
0multi-class-text-classification-cnn-rnn-master/.idea/*
cr/checkpoints_1532544430/*
cr/__pycache__/*
cr/trained_results_1532544430/*
cr/data_set/cifar_10/*
cr/checkpoints_temp/*
cr/trained_results_temp/*
cr/rawData/*
cr/data/*.csv
cr/data/*.txt
cr/data/*.zip
bi/input/glove.6B.zip
bi/input/glove.6B.50d.txt
bi/model_temp/*
bi/docs/2. 5way-learn_rate_comapre/~$*
bi/docs/~$*
bi/input/glove.6B.100d.txt
bi/input/glove.6B.200d.txt
bi/input/glove.6B.300d.txt
bi/~WRL0005.tmp
bi/~$Report.docx
